/* font */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --main-white:  #edede4;
    --main-blue: #004bff;
    --shade-color: #b1c9ff;

    --header-bg:var(--main-blue);
    --header-color:var(--main-white);

    --body-header-color: #1e323c;
    --body-text-color: var(--main-white);

    --heading-font-weight-700: 700;
    --heading-font-weight-400: 400;
    --heading-font-weight-100: 100;
}

body {
    font-family: Josefin Sans , sans-serif;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:  1fr auto;
    grid-template-areas: 
    "aside main"
    "aside main"
    "aside main"
    ;
}

aside {
    display: grid;
    gap: 1rem;
    grid-template-rows: 4rem 1fr auto;
    height: 100%;
    overflow-y: auto;
    background-color: var(--main-blue);
    padding: 2vw;
    color: var(--main-white);
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: clamp(4rem, 2.5rem + 0.25vw, 5rem);
            font-weight: var(--heading-font-weight-700);
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    button {
        background-color: transparent;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
        color: var(--main-white);
        font-size: 1rem;
        padding: .5rem .75rem;
        text-align: left;
        transition: transform;
        width: 100%;
        display: grid;
        align-items: center;
        gap: 0.6rem;
        grid-template-columns: auto 1fr 20px;
        &:hover {
            background-color: var(--shade-color);
        }
        &:active {
            background-color: red;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        .add-tasks {
            font-size: 1.2rem;
            font-weight: var(--heading-font-weight-700);
        }
        .projects {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;
            h3 {
                font-weight: var(--heading-font-weight-700);
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                        &:hover {
                            background-color: var(--shade-color);
                        }
                        &:active {
                            background-color: red;
                        }
                }
            }
        }
    }
    footer {
        color: var(--shade-color);
        display: flex;
        flex-direction: column;
        #reset-button {
            background-color: transparent;
            cursor: pointer;
            color: var(--main-white);
            font-size: 1rem;
            text-align: left;
            &:hover {
                color: var(--shade-color);
            }
            &:active {
                color: red;
            }
        }
        a {
            text-decoration: none;
            color: var(--main-white);
        }
    }
}

main {
    background-color: var(--main-white);
    padding: 1vw;
    text-align: center;
    h2 {
        font-weight: var(--heading-font-weight-700);
    }

    .task {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        .task-title {
            font-weight: var(--heading-font-weight-400);
            font-size: 1.5rem;
        }
        .task-description {
            font-size: 1rem;
            font-weight: var(--heading-font-weight-100);
        }
        .task-actions {
            display: flex;
            gap: 1rem;
            .task-action {
                background-color: transparent;
                border-radius: 2px;
                border: 0;
                cursor: pointer;
                color: var(--main-white);
                font-size: 1rem;
                padding: .5rem .75rem;
                text-align: left;
                transition: transform;
                width: 100%;
                display: grid;
                align-items: center;
                gap: 0.6rem;
                grid-template-columns: auto 1fr 20px;
                &:hover {
                    background-color: var(--shade-color);
                }    
                &:active {
                    background-color: red;
                }    
            }
        }
    }
}